# Ignore the firebase.js file to protect my firebase configuration info
/public/firebase.js
# Ignore the jwt.js file to protect my secret key for Jason Web Token authentication
/utils/jwt.js

# Node.js dependencies
node_modules/
npm-debug.log

# Logs
Logs*.log

# Environment variables
.env

# MacOS system files
.DS_Store